* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #676a79; */
}

/* div {} */
.react-icons {
  vertical-align: middle;
  font-size: 5rem;
}

input::file-selector-button {
  background-color: #f4f4f5;
  /* border: 3px solid black; */
  border: 1px solid #d5d5d5;
  border-radius: 5%;
}
